---
import Layout from "../layouts/Layout.astro"
import HeroBanner from "../components/HeroBanner.astro"
import CardBanner from "../components/CardBanner.astro"
import TextBanner from "../components/TextBanner.astro"
---

<Layout title="Louise Wright Homepage">
  <main>
    <HeroBanner />
    <TextBanner />
    <CardBanner />
  </main>

  <style>
    main {
      /* margin: auto; */
      /* padding: 1.5rem; */
      /* max-width: 60ch; */
    }
    h1 {
      font-size: 3rem;
      font-weight: 800;
      margin: 0;
    }
    .link-card-layout {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 0;
    }

    @media screen and (min-width: 636px) {
      .link-card-layout {
      }
    }
  </style>
</Layout>
