---
import Layout from "../layouts/Layout.astro"
import Card from "../components/Card.astro"
import HeroBanner from "../components/HeroBanner.astro"
import CardBanner from "../components/CardBanner.astro"
---

<Layout title="Louise Wright Homepage">
  <main>
    <!-- <h1>Heyup I'm Louise Wright</h1>
    <p class="">I make websites and I'm a badass front end developer</p> -->
    <HeroBanner />
    <CardBanner />
    <!-- <h2>Featured projects</h2>
    <ul role="list" class="link-card-layout">
      <Card
        href="https://docs.astro.build/"
        title="Documentation"
        body="Learn how Astro works and explore the official API docs."
      />
      <Card
        href="https://astro.build/integrations/"
        title="Integrations"
        body="Supercharge your project with new frameworks and libraries."
      />
      <Card
        href="https://astro.build/themes/"
        title="Themes"
        body="Explore a galaxy of community-built starter themes."
      />
      <Card
        href="https://astro.build/chat/"
        title="Community"
        body="Come say hi to our amazing Discord community. ❤️"
      />
    </ul> -->
  </main>

  <style>
    main {
      /* margin: auto; */
      /* padding: 1.5rem; */
      /* max-width: 60ch; */
    }
    h1 {
      font-size: 3rem;
      font-weight: 800;
      margin: 0;
    }
    .link-card-layout {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 0;
    }

    @media screen and (min-width: 636px) {
      .link-card-layout {
      }
    }
  </style>
</Layout>
