---
---

<section class="card-banner">
  <div class="banner-content">
    <div class="banner-text">
      <h2>I'm a banner</h2>
    </div>
    <div id="container">
      <div class="card">
        <img
          src="https://images.unsplash.com/photo-1536323760109-ca8c07450053"
          alt="Lago di Braies"
        />
        <div class="card__details">
          <div class="name">Lago di Braies</div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur
            sodales morbi dignissim sed diam pharetra vitae ipsum odio.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .card-banner {
    background: #bcbec2;
    padding: 6vw;
  }

  .banner-content {
    display: flex;
    justify-content: center;
  }

  img {
    width: 100%;
    border-radius: 12px;
    height: 214px;
    object-fit: cover;
  }

  #container {
    max-width: 300px;
    /* margin: 0 auto; */
    margin-top: 20vh;
  }

  .card {
    border: 1px solid #ffffff;
    padding: 8px;
    border-radius: 12px;
  }

  .name {
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px;
  }

  p {
    font-size: 14px;
    color: #ffffff;
    line-height: 150%;
  }

  .card__details {
    padding: 16px 8px 8px 8px;
  }
</style>
