---
---

<section class="card-banner">
  <div class="banner-content">
    <div class="banner-text">
      <h2>Projects</h2>
    </div>
    <p>Coming soon!</p>
    <div class="card-wrapper">
      <div id="container">
        <div class="card">
          <img
            src="/minh-triet-KTGBkzzE8BM-unsplash.jpg"
            alt="Lago di Braies"
          />
          <div class="card__details">
            <div class="name">Lago di Braies</div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Consectetur sodales morbi dignissim sed diam pharetra vitae ipsum
              odio.
            </p>
          </div>
        </div>
      </div>
      <div id="container">
        <div class="card">
          <img
            src="https://images.unsplash.com/photo-1536323760109-ca8c07450053"
            alt="Lago di Braies"
          />
          <div class="card__details">
            <div class="name">Lago di Braies</div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Consectetur sodales morbi dignissim sed diam pharetra vitae ipsum
              odio.
            </p>
          </div>
        </div>
      </div>

      <div id="container">
        <div class="card">
          <img
            src="/minh-triet-KTGBkzzE8BM-unsplash.jpg"
            alt="Lago di Braies"
          />
          <div class="card__details">
            <div class="name">Lago di Braies</div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Consectetur sodales morbi dignissim sed diam pharetra vitae ipsum
              odio.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .card-banner {
    background: #f5f5f5;
    padding: 6vw;
  }

  .banner-text {
    font-size: 2.5rem;
  }

  img {
    width: 100%;
    border-radius: 12px;
    height: 214px;
    object-fit: cover;
  }

  #container {
    max-width: 300px;
    margin-top: 3vh;
    margin-right: 3vw;
  }

  .card-wrapper {
    display: flex;
    flex-direction: column;
  }

  .card {
    opacity: 0.4;
    border: 1px solid #787682;
    padding: 8px;
    border-radius: 12px;
  }

  .name {
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px;
  }

  p {
    font-size: 14px;
    color: #787682;
    line-height: 150%;
  }

  .card__details {
    padding: 16px 8px 8px 8px;
  }

  @media screen and (min-width: 636px) {
    #container {
      max-width: none;
    }

    .card-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
</style>
