---
---

<footer>
  <div class="footer-wrapper">
    <div class="footer-tagline">
      <h3>Living, learning and leveling up one day at a time</h3>
    </div>
    <div class="footer-socials">
      <ul class="social-icon-list">
        <li class="social-icon">
          <a href="#">
            <img src="/linkedin.png" alt="LinkedIn logo" height="40" />
          </a>
        </li>
        <li class="social-icon">
          <a href="#">
            <img
              src="/black-back-closed-envelope-shape.png"
              alt="Email logo"
              height="40"
            />
          </a>
        </li>
        <li class="social-icon">
          <a href="#">
            <img src="/github-sign.png" alt="Github logo" height="40" />
          </a>
        </li>
      </ul>
      <p>© 2023 Louise Wright designed & built this site with Astro</p>
    </div>
  </div>
</footer>

<style>
  .footer-wrapper {
    background-color: #fcd4cc;
    padding: 1vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .footer-tagline {
    text-align: center;
  }

  .social-icon-list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
  }
  .social-icon {
    margin-left: 1vw;
  }
</style>
