---
---

<header>
  <ul class="nav-links">
    <li><a href="/">Home</a></li>
    <li><a href="/about/">About</a></li>
    <li><a href="/contact/">Contact</a></li>
  </ul>
</header>

<style>
  .nav-links {
    display: flex;
  }
  li {
    list-style: none;
  }
</style>
